---
import '../styles/global.css';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=794" />
    <meta name="robots" content="noindex" />
    <title>{title}</title>
    <script is:inline src="https://unpkg.com/html2canvas-pro@1.6.6/dist/html2canvas-pro.min.js"></script>
    <script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
  </head>
  <body class="bg-white text-stone-800 font-sans">
    <slot />
  </body>
</html>
